services:
  commuter:
    build:
      context: .
      dockerfile: Dockerfile
      additional_contexts:
        workspace: ..
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - default
      - web
    labels:
      traefik.enable: "true"
      traefik.docker.network: "web"
      traefik.http.routers.commuter.entrypoints: "web"
      traefik.http.routers.commuter.rule: "Host(`commuter.dbut.dev`)"
    restart: unless-stopped

  redis:
    image: redis:alpine
    hostname: redis
    restart: unless-stopped

networks:
  web:
    external: true